{% include 'header.html'%}
<div id="main">
  <div class="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
  <h2>Lamime Yamal Scored</h2>
  <p>Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
  <table class="table table-striped table-hover">
    <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Marko</td>
    <td>Mario</td>
    <td>Germany</td>
  </tr>
  
  <tr>
    <td>Lamine Yamal</td>
    <td>Yamal</td>
    <td>Spain</td>
  </tr>
 
  <tr>
    <td>Mamad Alkatiri</td>
    <td>Mamad</td>
    <td>OPM</td>
  </tr>
  </table>
    
  </div>      
</div>    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Custom Script JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
