{% include 'header.html'%}  
  
<link rel="stylesheet" href="{{ url_for('static', filename='css/pembiayaan.css') }}">
  <!-- Detail Product Page Example (Pentol Mercon) -->
<body>
    <!-- Detail Product Page Example (Pentol Mercon) -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='images/pembiayaan-pentol.jpeg') }}" alt="pentol" class="invest-now">
            </div>
            <div class="col-md-6">
                <h3>PENTOL MERCON RUDAL PAK KAMTO</h3>
                <p><strong>Lokasi:</strong> Sidoarjo, Jawa Timur</p>
                <p>Mari dukung UMKM ini untuk bisa kembali hidup dan berkembang dengan pembiayaan crowdfunding.</p>
                <p><strong>Total Investasi:</strong> 900.000</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-2"><strong>Target:</strong> 1.500.000</p>
                <a href="#" class="btn investment-btn mt-3">Investasi Sekarang</a>
            </div>
        </div>
    </div>
</body>
</html>